.vertical-taskbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #0000009e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

    .vertical-taskbar:hover {
        background-color: black;
    }

    .vertical-taskbar a {
        display: block;
        padding: 20px;
        margin: 25px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
    }

a:hover {
    background-color: yellow;
    color: black;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('content/allianzarena.jpg');
    background-size: cover;

}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

img {
    height: 400px;
    width: 800px;
    transform: translate(-100px,150px);
    opacity: 0.0;
}

    img:hover {
        opacity: 1;
    }
