@page
@model dbproject.Pages.analystModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="analyst2.css">
    <title></title>
</head>
<body>
       <div class="box-container">
       <a href="pinfo" target=”_blank”>
      <div class="box1">
        <div class="label">EDIT INFO</div>
      </div>
        </a>
        <a href="pstatsview" target=”_blank”>
      <div class="box2">
        <div class="label">EDIT STATS</div>
      </div>
      </a>
        <a href="viewschedule" target=”_blank”>
      <div class="box3">
        <div class="label">EDIT SCHEDULE</div>
      </div>
      </a>
        <a href="injury" target=”_blank”>
      <div class="box4">
        <div class="label">EDIT INJURY LIST</div>
      </div>
      </a>
       <a href="index">
      <div class="box10">
        <div class="label">EXIT</div>
      </div>
       </a>
    </div>
</body>