@page
@model dbproject.Pages.executiveModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="executive2.css">
    <title></title>
</head>
<body>
           <div class="box-container">
        <a href="execpinfo" target=”_blank”>
      <div class="box1">
        <div class="label">PLAYER INFO</div>
      </div>
      </a>
        <a href="xsign" target=”_blank”>
      <div class="box2">
        <div class="label">SIGN PLAYER</div>
      </div>
      </a>
        <a href="xsell" target=”_blank”>
      <div class="box3">
        <div class="label">SELL PLAYER</div>
      </div>
      </a>
        <a href="xextend" target=”_blank”>
      <div class="box4">
        <div class="label">EXTEND CONTRACT</div>
      </div>
      </a>
        <a href="xcoach" target=”_blank”>
      <div class="box5">
        <div class="label">VIEW COACHES</div>
      </div>
      </a>
        <a href="xinjury" target=”_blank”>
      <div class="box6">
        <div class="label">VIEW INJURIES</div>
      </div>
      </a>
        <a href="xincome" target=”_blank”>
      <div class="box7">
        <div class="label">VIEW INCOME</div>
      </div>
      </a>
        <a href="xexpend" target=”_blank”>
      <div class="box8">
        <div class="label">EXPENDITURES</div>
      </div>
      </a>
        <a href="plreport" target=”_blank”>
      <div class="box9">
        <div class="label">PL REPORT</div>
      </div>
      </a>
      <a href="index">
      <div class="box10">
        <div class="label">EXIT</div>
      </div>
       </a>
    </div>
</body>
