@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<head>
	<link rel="stylesheet" href="index.css">
	<title></title>
</head>
<body>
	<div class= "fore">
		<video autoplay loop muted plays-inline>
			<source src="https://www.youtube.com/watch?v=69JfVWUtYNI&ab_channel=PrunauAlin">
		</video>
		</div>
	
	<div class="vertical-taskbar">
		<a href="index">Home</a>
		<a href="players">Players</a>
		<a href="sched">Schedule</a>
		<a href="performers">Top Performers</a>
		 <a href="about.html" target="_blank" ><div class="sidebar-item">About Club</div></a>
		<a href="signin">Sign In</a>
	</div>
	<div class="main-content">
		<img src="content/quote.png">
	</div>
</body>
