@page
@model dbproject.Pages.performersModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="performers2.css">
    <title></title>
</head>
<body>
        <div class="container">
            <div class="sidebar">
                <a href="index"><div class="sidebar-item">Home</div></a>
                <a href="players"><div class="sidebar-item">Players</div></a>
                <a href="sched"><div class="sidebar-item">Schedule</div></a>
                <a href="performers"><div class="sidebar-item">Top Performers</div></a>
                <a href="about.html" target="_blank"><div class="sidebar-item">About Club</div></a>
                <a href="signin"><div class="sidebar-item">Sign In</div></a>
            </div>

            <div class="box-container">
            <a href="tgoals" target=”_blank”>
                <div class="box1">
                    <div class="label">GOALS</div>
                </div>
                </a>
            <a href="ta" target=”_blank”>
                <div class="box2">
                    <div class="label">ASSISTS</div>
                </div>
                </a>
            <a href="tp" target=”_blank”>
                <div class="box3">
                    <div class="label">PASS %</div>
                </div>
                </a>
            <a href="td" target=”_blank”>
                <div class="box4">
                    <div class="label">DRIBBLES</div>
                </div>
            </a>    
            <a href="tchnc" target=”_blank”>
                <div class="box5">
                    <div class="label">CHANCES &nbsp CREATED</div>
                </div>
                </a>
            <a href="tsld" target=”_blank”>
                <div class="box6">
                    <div class="label">SLIDE TACKLES</div>
                </div>
                </a>
            <a href="stnd" target=”_blank”>
                <div class="box7">
                    <div class="label">STAND TACKLES</div>
                </div>
                </a>
            <a href="tduels" target=”_blank”>
                <div class="box8">
                    <div class="label">AERIAL DUELS</div>
                </div>
                </a>
            <a href="tint" target=”_blank”>
                <div class="box9">
                    <div class="label">INTERCEPTIONS</div>
                </div>
                </a>
            <a href="saves" target=”_blank”>
                <div class="box10">
                    <div class="label">SAVES</div>
                </div>
                </a>
            </div>
        </div>
</body>