@page
@model dbproject.Pages.playersModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="players3.css">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <div class="sidebar">
                <a href="index"><div class="sidebar-item">Home</div></a>
                <a href="players"><div class="sidebar-item">Players</div></a>
                <a href="sched"><div class="sidebar-item">Schedule</div></a>
                <a href="performers"><div class="sidebar-item">Top Performers</div></a>
                <a href="about.html" target="_blank"><div class="sidebar-item">About Club</div></a>
                <a href="signin"><div class="sidebar-item">Sign In</div></a>
            </div>
            <div class="box-container">
                @*for my own sake... 
                    just write nuuel after making that page
                *@
                <a href="manuelneuer" target=”_blank”>
                    <div class="box1">
                        <div class="label">MANUEL NEUER</div>
                    </div>
                </a>
                <a href="yannsommer" target=”_blank”>
                    <div class="box2">
                        <div class="label">YANN SOMMER</div>
                    </div>
                </a>
                
                <a href="svenulreich" target=”_blank”>
                    <div class="box3">
                        <div class="label">SVEN ULREICH</div>
                    </div>
                </a>
                
                <a href="alphonsodavies" target=”_blank”>
                    <div class="box4">
                        <div class="label">ALPHONSO DAVIES</div>
                    </div>
                </a>
               
                <a href="lucashernandez" target=”_blank”>
                    <div class="box5">
                        <div class="label">LUCAS HERNANDEZ</div>
                    </div>
                </a>

                <a href="dayot" target=”_blank”>
                    <div class="box6">
                        <div class="label">DAYOT UPAMECANO</div>
                    </div>
                </a>
                
                <a href="deligt" target=”_blank”>
                    <div class="box7">
                        <div class="label">MATHIJIS DELIGT</div>
                    </div>
                </a>
                <a href="pavard" target=”_blank”>
                    <div class="box8">
                        <div class="label">BENJAMIN PAVARD</div>
                    </div>
                </a>
                
                <a href="mazzaroui" target=”_blank”>
                    <div class="box9">
                        <div class="label">MAZZAROUI</div>
                    </div>
                </a>
                
                <a href="josep" target=”_blank”>
                    <div class="box10">
                        <div class="label">JOSEP STANISC</div>
                    </div>
                </a>
                
                <a href="cancelo" target=”_blank”>
                    <div class="box11">
                        <div class="label">JOAO CANCELO</div>
                    </div>
                </a>
                
                <a href="kimmich" target=”_blank”>
                    <div class="box12">
                        <div class="label">JOSHUA KIMMICH</div>
                    </div>
                </a>
                
                <a href="goretzka" target=”_blank”>
                    <div class="box13">
                        <div class="label">LEON GORETZKA</div>
                    </div>
                </a>
                
                <a href="ryan" target=”_blank”>
                    <div class="box14">
                        <div class="label">RYAN GRAVENCHECH</div>
                    </div>
                </a>
                
                <a href="paul" target=”_blank”>
                    <div class="box15">
                        <div class="label">PAUL WANNER</div>
                    </div>
                </a>
                
                <a href="ibrahimovic" target=”_blank”>
                    <div class="box16">
                        <div class="label">ANJON IBRAHIMOVIC</div>
                    </div>
                </a>
                
                <a href="jamal" target=”_blank”>
                    <div class="box17">
                        <div class="label">JAMAL MUSIALA</div>
                    </div>
                </a>
                
                <a href="thomas" target=”_blank”>
                    <div class="box18">
                        <div class="label">THOMAS MULLER</div>
                    </div>
                </a>
                
                <a href="king" target=”_blank”>
                    <div class="box19">
                        <div class="label">KINGLSEY COMAN</div>
                    </div>
                </a>
               
                <a href="serge" target=”_blank”>
                    <div class="box20">
                        <div class="label">SERGE GANBRY</div>
                    </div>
                </a>
                
                @*<a href="eric" target=”_blank”>
                    <div class="box21">
                        <div class="label">ERIC MAXIM</div>
                    </div>
                </a>*@

                @*<a href="mathys" target=”_blank”>
                    <div class="box22">
                        <div class="label">MATHYS TEL</div>
                    </div>
                </a>*@
                
                <a href="sane" target=”_blank”>
                    <div class="box23">
                        <div class="label">LEROY SANE</div>
                    </div>
                </a>
                
                <a href="mane" target=”_blank”>
                    <div class="box24">
                        <div class="label">SADIO MANE</div>
                    </div>
                </a>
                
            </div>
        </div>
    </form>
</body>