@page
@model dbproject.Pages.scheduleModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="schedule2.css">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <div class="sidebar">
                <a href="index"><div class="sidebar-item">Home</div></a>
                <a href="players"><div class="sidebar-item">Players</div></a>
                <a href="schedule"><div class="sidebar-item">Schedule</div></a>
                <a href="performers"><div class="sidebar-item">Top Performers</div></a>
                <a href="about.html"><div class="sidebar-item">About Club</div></a>
                <a href="signin"><div class="sidebar-item">Sign In</div></a>
            </div>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>MATCH DAY</th>
                        <th>OPPONENTS</th>
                        <th>DATE</th>
                        <th>RESULT</th>
                        <th>HIGHLIGHTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ENTRIACHT FRANKFURT</td>
                        <td>5 AUG 2022</td>
                        <td>6-1 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>WOLFSBURG</td>
                        <td>14 AUG 2022</td>
                        <td>2-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>VFL BOCHUM</td>
                        <td>21 AUG 2022</td>
                        <td>7-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mohngladbach</td>
                        <td>27 AUG 2022</td>
                        <td>1-1 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>UNION BERLIN</td>
                        <td>3 SEPT 2022</td>
                        <td>1-1 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>VFB STUTGART</td>
                        <td>10 SEPT 2022</td>
                        <td>2-2 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>AUGSBURG</td>
                        <td>17 SEPT 2022</td>
                        <td>0-1 L</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>BAYER LEVERKUSEN</td>
                        <td>30 SPET 2022</td>
                        <td>4-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ENTRIACHT FRANKFURT</td>
                        <td>5 AUG 2022</td>
                        <td>6-1 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>BORRUISA DORTMUND</td>
                        <td>8 OCT 2022</td>
                        <td>2-2 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>SC FREIBURG</td>
                        <td>16 OCT 2022</td>
                        <td>5-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>HOFFENHEIM</td>
                        <td>22 OCT 2022</td>
                        <td>2-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>MAINZ</td>
                        <td>29 OCT 2022</td>
                        <td>6-2 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>HERHTA BERLIN</td>
                        <td>5 NOV 2022</td>
                        <td>3-2 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>WEDER BREMEN</td>
                        <td>9 NOV 2022</td>
                        <td>6-1 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>SCHALKE</td>
                        <td>12 NOV 2022</td>
                        <td>2-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>RB LEIPZIG</td>
                        <td>21 JAN 2023</td>
                        <td>1-1 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>FC KOLN</td>
                        <td>25 JAN 2023</td>
                        <td>1-1 D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>ENTRIACHT FRANKFURT</td>
                        <td>28 JAN 2022</td>
                        <td>1- D</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>WOLFSBURG</td>
                        <td>5 FEB 2022</td>
                        <td>4-2 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>VFL BOCHUM</td>
                        <td>11 FEB 2023</td>
                        <td>3-0 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>MOHNGLADBACH</td>
                        <td>18 FEB 2023</td>
                        <td>2-3 L</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>UNION BERLIN</td>
                        <td>28 FEB 2023</td>
                        <td>6-1 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>VFB STUTGART</td>
                        <td>4 MAR 2023</td>
                        <td>2-1 W</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>BAYER LEVERKUSEN</td>
                        <td>18 MAR 2023</td>
                        <td>2-1 L</td>
                        <td><a target="_blank" href="https://www.youtube.com/watch?v=9_Pa8in4QRI&ab_channel=Bundesliga">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>BORRUSIA DORTMUND</td>
                        <td>1 APRIL 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>SC FERIBURG</td>
                        <td>8 APR 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>HOFFENHEIM</td>
                        <td>15 APR 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>MAINZ</td>
                        <td>22 APR 2022</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>HERTHA BERLIN</td>
                        <td>30 APR 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>WEDER BREMEN</td>
                        <td>6 MAY 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>SCHALKE</td>
                        <td>10 MAY 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>LEIPZIG</td>
                        <td>20 MAY 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>FC KOLN</td>
                        <td>27 MAY 2023</td>
                        <td>>.</td>
                        <td><a target="_blank" href="#">HIGHLIGHTS </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>