@page
@model dbproject.Pages.signinModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="signin2.css">
    <title></title>
</head>
<body>
    <div class="container">
    <div class="sidebar">
      <a href="index"><div class="sidebar-item">Home</div></a>
      <a href="players"><div class="sidebar-item">Players</div></a>
      <a href="sched"><div class="sidebar-item">Schedule</div></a>
      <a href="performers"><div class="sidebar-item">Top Performers</div></a>
      <a href="about.html" target="_blank" ><div class="sidebar-item">About Club</div></a>
      <a href="signin"><div class="sidebar-item">Sign In</div></a>
    </div>
    <div class="box-container">
       <a href="signinexec">
      <div class="box1">
      <div class="label">SIGN IN AS EXECUTIVE</div>
      <video src="content/execbg.mp4" autoplay loop muted></video>
      </div>
       </a>
            <a href="signinanal">
      <div class="box2">
        <div class="label">SIGN IN AS ANALYST</div>
        <video src="content/analystbg.mp4" autoplay loop muted></video>
      </div>
        </a>
  </div> 
  </div>
</body>
