@page
@model dbproject.Pages.xinjuryModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="schedule4.css">
    <title></title>
</head>
<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>injurytype</th>
                    <th>duration</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listofassists)
                {
                    <tr>
                        <td>@item.fn</td>
                        <td>@item.ln</td>
                        <td>@item.t</td>
                        <td>@item.d</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>