@page
@model dbproject.Pages.xsignModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="analyst2.css">
    <title></title>
</head>
<body>
       <div class="box-container2">
       <a href="spncreate" target=”_blank”>
      <div class="abox1">
        <div class="label">Add Info</div>
      </div>
        </a>
        <a href="spicreate" target=”_blank”>
      <div class="abox2">
        <div class="label">Add Contact</div>
      </div>
      </a>
        <a href="spscreate" target=”_blank”>
      <div class="abox3">
        <div class="label">Add Stats</div>
      </div>
      </a>
        <a href="spfcreate" target=”_blank”>
      <div class="abox4">
        <div class="label">Add Finances</div>
      </div>
      </a>
    </div>
</body>
